<div class="container py-4">
  <h2 class="mb-3">Liste des événements</h2>

  <!-- Recherche -->
  <input type="text" class="form-control mb-4"
         placeholder="Rechercher un événement"
         [(ngModel)]="searchTerm">

  <div class="row g-3">
    <div class="col-md-4" *ngFor="let e of filteredEvents">
      <div class="card h-100 shadow-sm">
        <img [src]="e.imageUrl" [alt]="e.title"
             class="card-img-top img-fluid"
             style="height: 200px; object-fit: cover;">

        <div class="card-body">
          <h5 class="card-title">{{ e.title }}</h5>
          <p class="text-muted">{{ e.location }} • {{ e.date | date:'mediumDate' }}</p>
          <p>{{ e.description }}</p>
          <p class="fw-bold">{{ e.price | currency:'TND':'symbol-narrow' }}</p>
          <p>Places disponibles : {{ e.nbPlaces }}</p>
          <!-- Bouton Like -->
          <button class="btn btn-sm btn-primary"
                  (click)="like(e)"
                  [disabled]="isExpired(e) || e.nbPlaces <= 0">
            👍 Like
          </button>
          <a [routerLink]="['./',e.id]">see details</a>
          <span class="ms-2">{{ e.nbrLike }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
