
  <!---Enhance search input and display data--->
  <div  *ngIf="e.title===searchValue || searchValue==null">
    <div class="card h-100 shadow-sm">
      <img src="{{e.imageUrl}}"
           class="card-img-top img-fluid"
           style="height: 200px; object-fit: cover;">

      <div class="card-body">
        <h5 class="card-title">{{ e.title }}</h5>
        <p class="text-muted">{{e.price}}</p>
        <p>{{e.location}}</p>
        <p class="fw-bold">{{e.nbPlaces}}</p>
        <p>{{ e.description }}</p>
        <!-- Bouton Like -->
        <button class="btn btn-sm btn-primary" (click)="likeEvent(e)">
          👍 Like {{e.nbrLike}}
        </button>

        <button class="btn btn-sm btn-danger"
                [disabled]="e.nbPlaces==0" (click)="nbrPlaceDecr(e)" ><!--Property Binding--->
          buy ticket
        </button>
        <!--exercice: pipe date--->
        <span class="ms-2">{{ e.date }}</span>
        <a [routerLink]="['./details',e.id]">
          more details
        </a>
      </div>
    </div>
  </div>

