<div class="container my-5 h-100">
  <div class="row d-flex flex-column align-items-start h-75">
    <div class="col-md-4">
      <img
        [src]="event?.imageUrl"
        [alt]="event?.title"
        class="img-fluid rounded shadow-sm mb-3"
      />
    </div>

    <div class="col-md-8 bg-secondary-color p-4 h-100 rounded">
      <h1 class="text-primary-color mb-3 fw-bold">{{ event?.title }}</h1>
      <p class="lead mb-4 text-foreground-color">
        {{ event?.description }}
      </p>

      <ul class="list-unstyled text-foreground-color">
        <li><strong>Date:</strong> {{ event?.date | date : "longDate" }}</li>
        <li><strong>Location:</strong> {{ event?.location }}</li>
        <li><strong>Price:</strong> {{ event?.price | currency : "EUR" }}</li>
        <li><strong>Available Seats:</strong> {{ event?.nbrPlaces}}</li>
        <li><strong>Likes:</strong> {{ event?.nbrLikes }}</li>
      </ul>

      <div class="mt-4 d-flex gap-4 justify-content-end">

      </div>
    </div>
  </div>
</div>
