<div class="container py-4">
   <div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="mb-0">Liste des événements</h2>
<button class="btn btn-primary" [routerLink]="['newEvent']" *ngIf="isAdmin()">Add Event</button></div>
  <!-- Recherche -->
  <input type="text" [(ngModel)]="searchValue"  class="form-control mb-4" placeholder="Rechercher un événement">

  <div class="row g-3" >

    <app-card-event class="col-md-4"
                    *ngFor="let event of listEvents"
                    [e]="event" (notificationLike)="nbrLike(event)" >

    </app-card-event>

  </div>
</div>
