<div class="feedback-container">
  <h2>Mes Feedbacks</h2>

  <div *ngIf="feedbacks.length === 0" class="alert alert-info">
    Aucun feedback pour le moment.
  </div>

  <div class="row">
    <div class="col-12" *ngFor="let fb of feedbacks">
      <div class="feedback-card">
        <img [src]="fb.event.imageUrl" alt="Event Image">
        <div class="feedback-content">
          <div>
            <h5 class="feedback-title">{{ fb.event.title }}</h5>
            <p class="feedback-message">{{ fb.message }}</p>
            <p class="feedback-rate">Note: {{ fb.rate }} ⭐</p>
          </div>
          <div class="feedback-footer">
            <button class="btn-feedback-edit" (click)="updateFeedback(fb)">✏️ Modifier</button>
            <button class="btn-feedback-delete" (click)="deleteFeedback(fb.id)">🗑 Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
